<nav class="navbar navbar-expand-lg sticky-top" style="background-color: var(--bs-body-bg);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @for (item of items; track item.id) {
        <li class="nav-item" (click)="closeNav()">
          <a class="nav-link {{item.estatus}}" aria-current="page" href="{{item.href}}" role="button">{{item.titulo}}</a>
        </li>
        }
        <li class="nav-item">
          <a class="nav-link" role="button" (click)="changeTheme()">
            <i class="bi bi-circle-half"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div data-bs-spy="scroll" data-bs-target="#navbarSupportedContent" data-bs-smooth-scroll="true"
  class="scrollspy-example" tabindex="0">
  <app-home id="home"></app-home>
  <app-about id="about"></app-about>
  <app-skills id="skills"></app-skills>
  <app-potafolio id="portafolio"></app-potafolio>
  <app-contact id="contact"></app-contact>
</div>
