<nav class="navbar navbar-expand-lg sticky-top fondo">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#about" role="button">Acerca de mi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills" role="button">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" role="button">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" role="button">
            Contacto
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" (click)="changeTheme()">
            <i class="bi bi-circle-half"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-md">
  <app-home id="home"></app-home>
  <app-about id="about"></app-about>
  <app-skills id="skills"></app-skills>
  <app-contact id="contact"></app-contact>
</div>
