body {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    /* margin: auto 11.3% auto 11.3%; */
}

header {
    max-width: 100%;
    position: sticky;
    top: 0;
}

nav {
    border: 1px solid black;
    text-align: center;
    height: 75px;
    width: 100%;
    font-size: 18px;
    
}
a {
    text-decoration: none;

}

section {
    border: 1px solid black;
    width: 100%;
    min-height: calc(100vh - 75px);
}

.sec-inicio {
}

.sec-about {

}

.sec-proyectos {

}

.sec-contact {

}

.img-about {
    width: 6.8%;
    border: 1px solid black;
    border-radius: 100px;
}

.p-about {
    border: 1px solid black;
    border-radius: 10px;
}