body {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    margin: auto 11.3% auto 11.3%;
}

nav {
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    /* position: fixed; */
    margin: none;
    height: 50px;
    width: 100%;
    font-size: 18px;
}

section {
    border: 1px solid black;
    width: 100%;
}

.sec-inicio {
    min-height: 100vh;
}

.sec-about {
    min-height: 100vh;
}

.sec-proyectos {
    min-height: 100vh;
}

.sec-contact {
    min-height: 100vh;
}

.img-about {
    width: 6.8%;
    border: 1px solid black;
    border-radius: 100px;
}

.p-about {
    border: 1px solid black;
    border-radius: 10px;
}