* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
}

body {
    background: #000000ea;
}

header {
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    background: #008cff;
}

nav a {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 10px;
}

nav a:hover {
background: gray;
}

section {
    height: 100vh;
    margin: 0 11.3%;
}

.container-img-inicio {
    display: flex;
    padding-top: 10%;
    justify-content: center;
}

.sec-inicio {
    border: 1px solid blue;
}
.sec-about {
    border: 1px solid green;
    /* display: flex; */
    align-items: center;
}
.sec-proyectos {
    border: 1px solid yellow;
}
.sec-contact {
    border: 1px solid white ;
}



.sec-inicio img {
    border-radius: 50px;
    width: 100px;
    margin: 20px;
}

.sec-inicio h2 {
    font-size: 36px;
    text-align: center;
}

.sec-inicio p {
    text-align: center;
}

.sec-about h1 {
    text-align: left;
    font-size: 36px;
    margin: 14px;
}

.container-about {
    border: 1px solid black;
    display: flex;
    align-items: center;
    height: 75%;
}

.img-about {
    width: 30%;
}

.container-info {
    display: flex;
    align-items: center;
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
}

.sec-about img {
    border-radius: 100px;
    width: 150px;
    margin: 10px;
}

.p-about {
    width: 50%;
}

.p-lenguajes {
    width: 50%;
}