<div class="row g-0 h-100 d-flex align-items-center">

  <div class="col-md-1 d-flex flex-column">
    <a style="max-width: 1.5rem;" class="py-1" target="_blank" href="https://github.com/ErickEquis/">
      <i class="bi bi-github fs-4" style="color:rgb(113, 44, 249);">
      </i>
    </a>
    <a style="max-width: 1.5rem;" class="py-1" target="_blank"
      href="https://www.linkedin.com/in/erick-santillan-suarez-b7aaba281/">
      <i class="bi bi-linkedin fs-4" style="color:rgb(113, 44, 249);;"></i>
    </a>
    <a style="max-width: 1.5rem;" class="py-1" target="_blank"
      href="https://wa.me/+525554149576?text=Hola,%20me%20interesa%20tu%20portafolio.%20Quisiera%20saber%20más.">
      <i class="bi bi-whatsapp fs-4" style="color:rgb(113, 44, 249);"></i>
    </a>
  </div>

  <div class="col-md-4 px-2">
    <div class="img-fluid rounded-start">
      <p class="fs-3 lh-sm">¡Hola!, soy Erick</p>
      <p class="fs-6 lh-sm opacity-75">Desarrollador full stack</p>
      <p class="fs-6 lh-sm">Comprometido con la entrega de trabajos de alta calidad</p>
    </div>
    <a class="btn fondo text-light" role="button" target="_blank"
      href="https://wa.me/+525554149576?text=Hola,%20me%20interesa%20tu%20portafolio.%20Quisiera%20saber%20más.">
      Contactame
      <i class="bi bi-whatsapp"></i>
    </a>
  </div>
  <div class=" row col-md-6 d-grid gap-2 d-md-block">
    <a class="btn fondo text-light" role="button" href="/CV_Santillan_Suarez_Erick.pdf"
      download=CV_Santillan_Suarez_Erick>
      Descargar CV
    </a>
  </div>
</div>
