<div class="p-4 m-4" style="height: 75vh;">

  <div class="row g-0 h-100 d-flex align-items-center">
    <div class="col-1 d-flex flex-column justify-content-center">
      <a class="py-1" target="_blank" href="https://github.com/ErickEquis/">
        <i class="bi bi-github fs-4 color-fuente"></i>
      </a>
      <a class="py-1">
        <i class="bi bi-linkedin fs-4 color-fuente"></i>
      </a>
      <a class="py-1" target="_blank"
        href="https://wa.me/+525554149576?text=Hola,%20me%20interesa%20tu%20portafolio.%20Quisiera%20saber%20más.">
        <i class="bi bi-whatsapp fs-4 color-fuente"></i>
      </a>
    </div>
    <div class="col-12 col-lg-4 px-2 order-2 order-lg-12 text-center">
      <div class="img-fluid rounded-start">
        <p class="fs-3 lh-sm">¡Hola!, soy Erick</p>
        <p class="fs-6 lh-sm opacity-75">Desarrollador full stack</p>
        <p class="fs-6 lh-sm">Comprometido con la entrega de trabajos de alta calidad</p>
      </div>
      <a class="btn fondo text-light" role="button" target="_blank"
        href="https://wa.me/+525554149576?text=Hola,%20me%20interesa%20tu%20portafolio.%20Quisiera%20saber%20más.">
        Contactame
        <i class="bi bi-whatsapp"></i>
      </a>
    </div>
    <div class="row col-11 col-lg-7 d-grid gap-2 order-1 order-lg-2 d-flex justify-content-center">
      <div class="d-flex align-items-center justify-content-center">
        <img src="./profile.jpg" class="img-fluid">
      </div>
    </div>
  </div>

</div>
