<div class="p-0 m-0" style="height: 75vh;">
  <div class="d-flex flex-column align-items-center">
    <p class="fs-3"> Portafolio </p>
    <p class="fs-5 opacity-75"> </p>
  </div>
  <div id="carouselExample" class="carousel slide p-0 m-0">
    <div class="carousel-inner p-0 m-0">

      @for (item of items; track item.id) {
      <div class="carousel-item {{item.estatus}}">
        <div class="d-flex row justify-content-center align-items-center m-0 p-0">
          <div class="col-md-6 col-xs-12 d-flex justify-content-center">
            <img src="{{item.imagen}}" class="d-block img-fluid" style="max-width: 400px;" alt="{{item.titulo}}">
          </div>

          <div class="col-md-4 col-xs-12 text-center">
            <p class="fs-5 fw-bold">{{item.titulo}}</p>
            <p style="font-size: .9rem;">
              {{item.descripcion}}
            </p>
            <a target="_blank" class="btn fondo text-light" href="{{item.url}}">
              Ir
              <i class="bi bi-arrow-right-short"></i>
            </a>
          </div>
        </div>
      </div>
      }

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <i class="bi bi-caret-left-fill fs-1" style="color: rgb(113, 44, 249);;"></i>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <i class="bi bi-caret-right-fill fs-1" style="color: rgb(113, 44, 249);;"></i>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
